<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Temp O Matic</title>
</head>
<body>
    <header>
        <p>Temp O Matic</p>
        <nav>
            <a href="/">Home</a>
            <a href="/sensors">Sensors</a>
            {% if user_id != None %}
                <a href="/login">Login</a>
            {% else %}
                <a href="/logout">Logout</a>
            {% endif %}
        </nav>
    </header>
    {%  block body %}
    {%  endblock %}
</body>
</html>